@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TWKEverettRegular';
  src: url('../assets/fonts/TWKEverettRegular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CosmoRegular';
  src: url('../assets/fonts/CosmoRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'TWKEverettRegular', Helvetica, sans-serif !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}

